<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include ("./partials/header.ejs") %>
      </head>
</head>
<body>
    <%- include ("./partials/nav.ejs") %>

    <div class="container">

        <% if(signupMessage){ %>
            
        <% } %>

        <div class="jumbotron">
            <h3> Login  </h3>
            <form action="/singnin" method="post">

                <div class="form-group">
                    <div class="group-card">
                        <input type="email" class="form-control" name="email" placeholder="Digita tu Email">
                        <input type="password" name="password" class="form-control" placeholder="password" >
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" > Login </button>
            
                </div>
            
            </form>
        </div>
    </div>
    

</body>
</html>
